Source: libjsonpp
Section: libraries
Priority: optional
Maintainer: Karl 'muro' Blotnicki <muro@ccdmail.net>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: libjsonpp
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends},
Depends: 
Description: Json library for C++

